.authorBox {
    display: flex;
    align-items: center;
    border: 1px solid var(--author-box-border);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--author-box-bg);
}

.authorProfilePicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.svg {
    fill: var(--author-links-svg-color);
}
  