/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHoverEffect {
  background-color: var(--bg-color);
  color: var(--hero-text-color) !important;
  border-color: var(--hero-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonHoverEffect[data-theme='dark'] {
  background-color: var(--hero-text-color);
  color: var(--bg-color) !important;
  border-color: #0079f1;
}

.buttonHoverEffect:hover {
  background-color: var(--hero-text-color);
  color: var(--bg-color) !important;
  border-color: var(--bg-color);
}