.green-title {
  color: green;
  display: inline;
  font-size: small;
}

.platform-badge,
.version-badge {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  display: inline;
}

.platform-badge {
  background-color: #007bff;
  color: white;
  font-size: smaller;
}

.version-badge {
  background-color: #f39d12ae;
  color: rgb(0, 0, 0);
  font-size: 10px;
  padding: 10px;
}

.team-members {
  display: flex;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  /* flex: 1; */
  width: 40px;
  /* height: 40px; */
}

.title-separator,
.comments-separator {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.comments-section {
  margin-top: 10px;
  font-size: smaller;
}

.warning-message {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.warning-message.show {
  display: block;
}

.success-message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.priority-section {
  display: flex;
  align-items: center;
}

.warning-message-below {
  background-color: rgba(244, 67, 54, 0.7); /* Red with alpha 0.7 */
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: smaller;
}

.collapsible-info {
  background-color: #2baa55ce; /* Blue */
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  font-size: smaller;
}

.collapsible-info.show {
  display: block;
}
.title-badge {
  font-size: 1.2em;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline;
}

.model-image {
  width: 130px; /* Set the width */
  max-width: 100%; /* Make sure it scales down if the container is smaller */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Change from inline to block */
  margin: auto; /* Center the image */
}

.model-badge {
  font-size: 1.2em;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.model-badge:hover {
  background-color: #4a53ec; /* Darker green */
}

.title-platform-section {
  display: flex;
  align-items: center;
}

.status-priority-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  min-width: calc(45% - 20px); /* For 3 cards per row */
  max-width: calc(45% - 20px);
  max-height: fit-content;
  margin: 10px;
}

button {
  background-color: #023b04c0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
