site_name: DSPy
site_description: The framework for programming—rather than prompting—language models.
site_url: https://dspy.ai

repo_url: https://github.com/stanfordnlp/dspy
repo_name: stanfordnlp/dspy

edit_uri: blob/main/docs/docs/
docs_dir: "docs/"
nav:
    - Get Started: index.md
    - Learn DSPy:
        - Learning DSPy: learn/index.md
        - DSPy Programming:
            - Programming Overview: learn/programming/overview.md
            - Language Models: learn/programming/language_models.md
            - Signatures: learn/programming/signatures.md
            - Modules: learn/programming/modules.md
        - DSPy Evaluation:
            - Evaluation Overview: learn/evaluation/overview.md
            - Data Handling: learn/evaluation/data.md
            - Metrics: learn/evaluation/metrics.md
        - DSPy Optimization:
            - Optimization Overview: learn/optimization/overview.md
            - Optimizers: learn/optimization/optimizers.md
        - Other References:
            - Retrieval Clients:
                - Azure: deep-dive/retrieval_models_clients/Azure.md
                - ChromadbRM: deep-dive/retrieval_models_clients/ChromadbRM.md
                - ClarifaiRM: deep-dive/retrieval_models_clients/ClarifaiRM.md
                - ColBERTv2: deep-dive/retrieval_models_clients/ColBERTv2.md
                - Custom RM Client: deep-dive/retrieval_models_clients/custom-rm-client.md
                - DatabricksRM: deep-dive/retrieval_models_clients/DatabricksRM.md
                - FalkordbRM: deep-dive/retrieval_models_clients/FalkordbRM.md
                - FaissRM: deep-dive/retrieval_models_clients/FaissRM.md
                - LancedbRM: deep-dive/retrieval_models_clients/LancedbRM.md
                - MilvusRM: deep-dive/retrieval_models_clients/MilvusRM.md
                - MyScaleRM: deep-dive/retrieval_models_clients/MyScaleRM.md
                - Neo4jRM: deep-dive/retrieval_models_clients/Neo4jRM.md
                - QdrantRM: deep-dive/retrieval_models_clients/QdrantRM.md
                - RAGatouilleRM: deep-dive/retrieval_models_clients/RAGatouilleRM.md
                - SnowflakeRM: deep-dive/retrieval_models_clients/SnowflakeRM.md
                - WatsonDiscovery: deep-dive/retrieval_models_clients/WatsonDiscovery.md
                - WeaviateRM: deep-dive/retrieval_models_clients/WeaviateRM.md
                - YouRM: deep-dive/retrieval_models_clients/YouRM.md
    - Tutorials:
        - Tutorials Overview: tutorials/index.md
        - Retrieval-Augmented Generation: tutorials/rag/index.ipynb
        - Agents: tutorials/agents/index.ipynb
        - Reasoning: tutorials/math/index.ipynb
        - Entity Extraction: tutorials/entity_extraction/index.ipynb
        - Classification: tutorials/classification/index.md
        - Classification Finetuning: tutorials/classification_finetuning/index.ipynb
        - Multi-Hop Search: tutorials/multihop_search/index.ipynb
        - Privacy-Conscious Delegation: tutorials/papillon/index.md
        - Finetuning Agents: tutorials/games/index.ipynb
        - Saving and Loading: tutorials/saving/index.md
        - Deployment: tutorials/deployment/index.md
        - Debugging & Observability: tutorials/observability/index.md
    - Community:
        - Community Resources: community/community-resources.md
        - Use Cases: community/use-cases.md
        - Roadmap: roadmap.md
        - Contributing: community/how-to-contribute.md
    - FAQ:
        - FAQ: faqs.md
        - Cheatsheet: cheatsheet.md

    - API Reference:
        - Adapters:
            - Adapter: api/adapters/Adapter.md
            - ChatAdapter: api/adapters/ChatAdapter.md
            - JSONAdapter: api/adapters/JSONAdapter.md
        - Evaluation:
            - CompleteAndGrounded: api/evaluation/CompleteAndGrounded.md
            - Evaluate: api/evaluation/Evaluate.md
            - SemanticF1: api/evaluation/SemanticF1.md
            - answer_exact_match: api/evaluation/answer_exact_match.md
            - answer_passage_match: api/evaluation/answer_passage_match.md
        - Models:
            - Embedder: api/models/Embedder.md
            - LM: api/models/LM.md
        - Modules:
            - ChainOfThought: api/modules/ChainOfThought.md
            - ChainOfThoughtWithHint: api/modules/ChainOfThoughtWithHint.md
            - Module: api/modules/Module.md
            - MultiChainComparison: api/modules/MultiChainComparison.md
            - Parallel: api/modules/Parallel.md
            - Predict: api/modules/Predict.md
            - Program: api/modules/Program.md
            - ProgramOfThought: api/modules/ProgramOfThought.md
            - ReAct: api/modules/ReAct.md
        - Optimizers:
            - BetterTogether: api/optimizers/BetterTogether.md
            - BootstrapFewShot: api/optimizers/BootstrapFewShot.md
            - BootstrapFewShotWithRandomSearch: api/optimizers/BootstrapFewShotWithRandomSearch.md
            - BootstrapFinetune: api/optimizers/BootstrapFinetune.md
            - BootstrapRS: api/optimizers/BootstrapRS.md
            - COPRO: api/optimizers/COPRO.md
            - Ensemble: api/optimizers/Ensemble.md
            - KNN: api/optimizers/KNN.md
            - KNNFewShot: api/optimizers/KNNFewShot.md
            - LabeledFewShot: api/optimizers/LabeledFewShot.md
            - MIPROv2: api/optimizers/MIPROv2.md
        - Primitives:
            - Example: api/primitives/Example.md
            - Image: api/primitives/Image.md
            - Prediction: api/primitives/Prediction.md
            - Tool: api/primitives/Tool.md
        - Signatures:
            - InputField: api/signatures/InputField.md
            - OutputField: api/signatures/OutputField.md
            - Signature: api/signatures/Signature.md
        - Tools:
            - ColBERTv2: api/tools/ColBERTv2.md
            - Embeddings: api/tools/Embeddings.md
            - PythonInterpreter: api/tools/PythonInterpreter.md
        - Utils:
            - asyncify: api/utils/asyncify.md
            - disable_litellm_logging: api/utils/disable_litellm_logging.md
            - disable_logging: api/utils/disable_logging.md
            - enable_litellm_logging: api/utils/enable_litellm_logging.md
            - enable_logging: api/utils/enable_logging.md
            - inspect_history: api/utils/inspect_history.md
            - load: api/utils/load.md
            - streamify: api/utils/streamify.md

theme:
    name: material
    custom_dir: overrides
    features:
        - navigation.tabs
        - navigation.path
        - navigation.indexes
        - toc.follow
        - navigation.top
        - search.suggest
        - search.highlight
        - content.tabs.link
        - content.code.annotation
        - content.code.copy
        - navigation.footer
        - content.action.edit
    language: en
    palette:
        - scheme: default
          toggle:
            icon: material/weather-night
            name: Switch to dark mode
          primary: white
          accent: black
        - scheme: slate
          toggle:
            icon: material/weather-sunny
            name: Switch to light mode
          primary: black
          accent: lime
    icon:
        repo: fontawesome/brands/git-alt
        edit: material/pencil
        view: material/eye
    logo: static/img/dspy_logo.png
    favicon: static/img/logo.png

extra_css:
    - stylesheets/extra.css

plugins:
    - social
    - search
    - mkdocstrings:
        handlers:
            python:
                options:
                    docstring_style: google
                    show_source: true
                    show_root_heading: true
                    heading_level: 3
                    members_order: source
                    separate_signature: false
                    show_category_heading: true
                    show_symbol_type_heading: true
                    show_docstring_parameters: true
                    show_if_no_docstring: true
                    show_signature_annotations: true
                    unwrap_annotated: true
                    annotations_path: brief
                    docstring_section_style: table
                    merge_init_into_class: true
                    rendering:
                        show_if_no_docstring: true
                        show_warnings: false
                        html_meta: false
                    docstring_options:
                        returns_style: table
                        separate_signature: false
                        merge_return_lines: true
    - mkdocs-jupyter:
        ignore_h1_titles: True
    - redirects:
        redirect_maps:
            # Redirect /intro/ to the main page
            "intro/index.md": "index.md"
            "intro.md": "index.md"

            "docs/quick-start/getting-started-01.md": "tutorials/rag/index.ipynb"
            "docs/quick-start/getting-started-02.md": "tutorials/rag/index.ipynb"
            "quick-start/getting-started-01.md": "tutorials/rag/index.ipynb"
            "quick-start/getting-started-02.md": "tutorials/rag/index.ipynb"

extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/stanfordnlp/dspy
        - icon: fontawesome/brands/discord
          link: https://discord.gg/XCGy2WDCQB

extra_javascript:
    - "js/runllm-widget.js"

markdown_extensions:
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - admonition
    - pymdownx.arithmatex:
        generic: true
    - footnotes
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.mark
    - attr_list
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: |
    &copy; 2024 <a href="https://github.com/stanfordnlp"  target="_blank" rel="noopener">Stanford NLP</a>
