site_name: DSPy Documentation
site_description: The framework for programming—rather than prompting—language models.
site_url: https://dspy.ai

repo_url: https://github.com/stanfordnlp/dspy
repo_name: stanfordnlp/dspy

edit_uri: blob/main/docs/docs/
docs_dir: 'docs/'
nav:
  - Home: index.md
  - Learn DSPy:
    - Overview: building-blocks/solving_your_task.md
    - Language Models: building-blocks/1-language_models.md
    - Signatures: building-blocks/2-signatures.md
    - Data Handling: building-blocks/4-data.md
    - Modules:
      - Overview: building-blocks/3-modules.md
      - Predict: deep-dive/modules/predict.md
      - ChainOfThought: deep-dive/modules/chain-of-thought.md
      - ChainOfThoughtwithHint: deep-dive/modules/chain-of-thought-with-hint.md
      - ReAct: deep-dive/modules/react.md
      - MultiChainComparison: deep-dive/modules/multi-chain-comparison.md
      - ProgramOfThought: deep-dive/modules/program-of-thought.md
      - Assertions: deep-dive/assertions.md
      - Retrieve: deep-dive/modules/retrieve.md
      - Modules Guide: deep-dive/modules/guide.md
    - Metrics:
      - Metrics: building-blocks/5-metrics.md
      - Assertions: building-blocks/7-assertions.md
      - Assertions II: deep-dive/assertions.md
    - Optimizers:
      - Overview: building-blocks/6-optimizers.md
      - LabeledFewShot: deep-dive/optimizers/LabeledFewShot.md
      - BootstrapFewShot: deep-dive/optimizers/bootstrap-fewshot.md
      - BootstrapRS: deep-dive/optimizers/bfrs.md
      - COPRO: deep-dive/optimizers/copro.md
      - MIPROv2: deep-dive/optimizers/miprov2.md
      - Ensemble: deep-dive/optimizers/Ensemble.md
      - BootstrapFinetune: deep-dive/optimizers/BootstrapFinetune.md
    - Retrieval Clients:
      - Azure: deep-dive/retrieval_models_clients/Azure.md
      - ChromadbRM: deep-dive/retrieval_models_clients/ChromadbRM.md
      - ClarifaiRM: deep-dive/retrieval_models_clients/ClarifaiRM.md
      - ColBERTv2: deep-dive/retrieval_models_clients/ColBERTv2.md
      - Custom RM Client: deep-dive/retrieval_models_clients/custom-rm-client.md
      - DatabricksRM: deep-dive/retrieval_models_clients/DatabricksRM.md
      - FaissRM: deep-dive/retrieval_models_clients/FaissRM.md
      - LancedbRM: deep-dive/retrieval_models_clients/LancedbRM.md
      - MilvusRM: deep-dive/retrieval_models_clients/MilvusRM.md
      - MyScaleRM: deep-dive/retrieval_models_clients/MyScaleRM.md
      - Neo4jRM: deep-dive/retrieval_models_clients/Neo4jRM.md
      - QdrantRM: deep-dive/retrieval_models_clients/QdrantRM.md
      - RAGatouilleRM: deep-dive/retrieval_models_clients/RAGatouilleRM.md
      - SnowflakeRM: deep-dive/retrieval_models_clients/SnowflakeRM.md
      - WatsonDiscovery: deep-dive/retrieval_models_clients/WatsonDiscovery.md
      - WeaviateRM: deep-dive/retrieval_models_clients/WeaviateRM.md
      - YouRM: deep-dive/retrieval_models_clients/YouRM.md
  - Tutorials:
    - Simple RAG: tutorials/rag/index.ipynb

theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.path
    - navigation.indexes
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.footer
    - content.action.edit
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: white
      accent: black 
    - scheme: slate 
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode    
      primary: black
      accent: lime
  icon:
    repo: fontawesome/brands/git-alt
    edit: material/pencil 
    view: material/eye
  logo: static/img/dspy_logo.png
  favicon: static/img/logo.png


extra_css:
  - stylesheets/extra.css



plugins:
  - social
  - search
  - mkdocstrings
  - blog
  - mkdocs-jupyter
  - redirects:
      redirect_maps:
        # Redirect /intro/ to the main page
        'intro/index.md': 'index.md'
        'intro.md': 'index.md'

        'docs/quick-start/getting-started-01.md': 'tutorials/rag/index.ipynb'
        'docs/quick-start/getting-started-02.md': 'tutorials/rag/index.ipynb'
        'quick-start/getting-started-01.md': 'tutorials/rag/index.ipynb'
        'quick-start/getting-started-02.md': 'tutorials/rag/index.ipynb'


extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/stanfordnlp/dspy
    - icon: fontawesome/brands/discord
      link: https://discord.gg/XCGy2WDCQB

extra_javascript:
  - "js/runllm-widget.js"

markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: |
  &copy; 2024 <a href="https://github.com/stanfordnlp"  target="_blank" rel="noopener">Stanford NLP</a>
